

.app {
  text-align: center;
  background: rgb(221, 219, 219);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  /* max-height: 100vh; */
}

.tweets{
  height: 290px;
  width: 270px;
  border-radius: 30px;
  background: rgb(221, 239, 255);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin: 50px;
  display: inline-table;
}

button{
  background-color: rgb(177, 235, 243);
  padding: 10px ;
  border-radius: 5px ;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover{
  background-color: rgb(255, 255, 253);
}

img{
  border-radius: 6px;
  padding: 5px;
}
