

.app {
  text-align: center;
  background: rgb(49, 49, 49);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  /* max-height: 100vh; */
}

.tweets{
  height: 290px;
  width: 270px;
  border-radius: 30px;
  background: rgb(185, 219, 248);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin: 50px;
  display: inline-table;
}
